.navbar-brand {
  color: white !important;
  margin-left: 1rem;
}

.navbar {
  align-items: center;
  display: flex;
  font-size: 1.2rem;
  justify-content: center;
  position: sticky;
  top: 0;
  vertical-align: middle;
}

.nav-links {
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.nav-item {
  line-height: 40px;
  margin-right: 1.6rem;
}

.nav-dropdown {
  background: inherit;
  font-weight: lighter;
}

.nav-dropdown:hover:after {
  background: initial;
}

.nav-dropdown-item {
  border: 0 !important;
  color: black !important;
  display: flex;
  justify-content: center;
  text-decoration: none;
}

.nav-dropdown-item:hover {
  background-color: moccasin !important;
  font-weight: bold;
}

.dropdown-toggle {
  color: white !important;
}

.dropdown-toggle.nav-link::after {
  margin-right: .6rem;
}

.offcanvas {
  background-color: var(--default-soft-bg-color) !important;
  color: var(--default-color) !important;
}
