:root {
  --default-bg-color: hsl(228, 73%, 21%);
  --default-color: white;
}

.bg-default {
  background-color: var(--default-bg-color);
  color: var(--default-color);
}

.search-input:focus {
  border-color: #49d54b !important;
}
